{% extends 'base.html.twig' %}

{% block title %}Modifier le jeu vidéo {{ jeu_video.titre }}{% endblock %}

{% block body %}
    <h1>Modifier le jeu vidéo {{ jeu_video.titre }}</h1>

    {{ include('jeu_video/_form.html.twig', {'button_label': 'Valider'}) }}

    {{ include('jeu_video/_delete_form.html.twig') }}

    <a href="{{ path('app_jeu_video_index') }}">Retour à la liste des jeux</a>
{% endblock %}
