{% extends 'base.html.twig' %}

{% block title %}Liste des développeurs{% endblock %}

{% block body %}
    <h1>Liste des développeurs</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for developpeur in developpeurs %}
            <tr>
                <td>{{ developpeur.id }}</td>
                <td>{{ developpeur.nom }}</td>
                <td>
                    <a href="{{ path('app_developpeur_show', {'id': developpeur.id}) }}">Consulter</a>
                    <a href="{{ path('app_developpeur_edit', {'id': developpeur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun développeur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_developpeur_new') }}">Ajouter un développeur</a>
{% endblock %}
