{% extends 'base.html.twig' %}

{% block title %}Developpeur index{% endblock %}

{% block body %}
    <h1>Developpeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for developpeur in developpeurs %}
            <tr>
                <td>{{ developpeur.id }}</td>
                <td>{{ developpeur.nom }}</td>
                <td>{{ developpeur.createdAt ? developpeur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ developpeur.UpdatedAt ? developpeur.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_developpeur_show', {'id': developpeur.id}) }}">show</a>
                    <a href="{{ path('app_developpeur_edit', {'id': developpeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_developpeur_new') }}">Create new</a>
{% endblock %}
