{% extends 'base.html.twig' %}

{% block title %}Developpeur{% endblock %}

{% block body %}
    <h1>Developpeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ developpeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ developpeur.nom }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ developpeur.createdAt ? developpeur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ developpeur.UpdatedAt ? developpeur.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_developpeur_index') }}">back to list</a>

    <a href="{{ path('app_developpeur_edit', {'id': developpeur.id}) }}">edit</a>

    {{ include('developpeur/_delete_form.html.twig') }}
{% endblock %}
